@media (min-width: 381px) and (max-width: 480px){

.container {
  max-width: 100%;
}

.flex{
  flex-direction: column;
}

.social-box {
  width: 200px;
   height: 180px;
  padding: 15px 20px;
  margin-left: 0px;
}

.social-container{
 width: 350px;
}

.social-title {
  font-weight: 400;
  font-size: 15px;
}

.social-logo {
  display: flex;
flex-wrap: wrap;
}

#card-container {
grid-template-columns: repeat(1, 1fr);
}

.services-box {
grid-template-columns: 1fr;
}

#marquee-container {
  margin-top: 20px;
  width:100%;
}

.line-gradient {
  display: none;
}
.services-description{
  width: 100%;
text-align: center;
margin-left: 0px;
}

#marquee-container {
  margin-top: 20px;
  width:100%;
}

.short-video{ 
  grid-template-columns: 1fr; 
}

.hero-image-container{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
   gap: 20px;
}

.nav-container{
    background-color: white;
    max-width: 100%;
}
.navbar {
  width: 80%;
}

.nav-btn1 {
  padding: 5px 14px;
  font-size: 12px;
}

.nav-btn2 {
  padding: 3px 8px;
  font-size: 12px;
}


.hero-container {
  width: 280px;
}

.hero-title {
  width: 280px;

}

.hero-text {
  width: 280px;
}

.short-video-img img{
width: 250px;
}

.social-box {
  width: 150px;
   height: 250px;
}

.social-container{
 width: 280px;
}

/* engaging section */
.engaging-container{
  max-width: 280px;
}


/* services section */
.services-container{
 max-width: 280px
}

.services-text {
display: none;
}

.service-content-center, .services-subheading{
  text-align: center;
}
.popular-btn{
  margin: 10px auto;
}
.services-gap{
  margin-top: 20px;
}
.service-line{
 display: none;
}
.tick{
  display: none;
}
.client-img{
   grid-template-columns: 1fr;
}
/* business */
.business-center-text{
  display: block;
  text-align: center;
}

/* company logo - fearured section */
.featured {
  max-width: 280px;
}

/* services section */
.services-text{
    width: 280px;
}
.services-title {
  width: 70%;
  margin: 0 auto;
  font-size: 30px;
}
.short-video-text{
  width: 70%;
  margin-top: 20px;
}
.short-video-img{
 width: 70%;
margin: 0 auto;
}
.short-video-img img{
    width: 100%;
}

.client-img img{
    width: 256px;
    height: 100%;
} 

.overlay-text{
    margin-top: -120px;
    margin-left: 90px;
}

.overlay-text img{
   width: 40px;
    height: 40px;
}

.overlay-icon{
    margin-top: -200px;
    margin-left: 110px;
}

.overlay-icon img{
   width: 20px;
    height: 20px;
}

/* faq */
.fap-text{
width: 70%;
margin: 0 auto;
}

/* footer */
.footer-container {
     grid-template-columns: 1fr;
 max-width: 280px;
 align-items: center
}

  .footer-line{
  display: none;
}

.footer-input {
  width: 70%;
}

.footer-btn {
  width: 75%;
}

.footer-text{
width: 70%;
}

}