@media (max-width: 768px) {

.container {
  max-width: 768px;
}

.navbar {
  max-width: 650px;
}

.hero-container {
  width: 650px;
}

.hero-title {
  width: 500px;

}

.social-container{
 max-width: 650px;
}

/* services section */
.services-container{
 max-width: 650px
}

.short-video{ 
  grid-template-columns: 1fr; 
}
.popular-video-text{
  margin-left: 0;
}

/* engaging section */
.engaging-container{
  max-width: 650px;
}

/* company logo - fearured section */
.featured {
  max-width: 650px;
}

/* services section */
.services-text{
    width: 500px;
}

.footer-container {
 max-width: 650px;
}

.footer-first-colum{
width: 100%;
}

.footer-input{
  width: 70%;
}

.footer-btn{
width: 75%;
}

.footer-line{
  width: 650px;
}

}
